body{
    background-color: #1C0A00;
   
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: #f0ece9;
    margin: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 30px;
}
.image{
    height: 600px;
    width: 700px;
    align-items: end;
 margin-top: 20px;
    margin-right: 5px;
}
.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    padding: 10px;
}
ol li:hover{
    background-color: rgb(235, 232, 228);
}
.forms{
    background-color: #2f150ef3;
height: 480px;
width: 500px;
color: beige;
text-align: center;
margin-top: 80px;
padding-top: 30px;
}
/* .heading{ */
    /* : center; */


    
    .form-group {
      margin-bottom: 20px;
      padding-left: 30px;
      padding-right: 50px;
      
    }
    
    input[type="text"],
    input[type="email"],
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    textarea {
      resize: vertical;
    }
    
    button[type="submit"] {
      padding: 10px 20px;
      background-color: #7f665e;
      color: white;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
.links{
    color: #cb5c20;
}
footer{
    color: #a28279;
    margin-left: 50px;
}
.tables tr:nth-child(even){
background-color: #cdc2a4;
}
.tables tr:hover{
    background-color: #845f4b;
    color: #e2d2a5;
}
.tables th{
    background-color: #1C0A00;
    color: #a28279;
}