body{
    background-color: rgb(175, 130, 75);
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
}
.container{
    background-color: antiquewhite;
    margin: 50px;
    padding: 30px;
}
.image{
    height: 400px;
    width: 400px;
    align-items: end;
}
.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
li{
    padding: 10px;
}